html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: beige;
}

.top-bar {
    background-color: blanchedalmond;
    position: sticky;
    top: 0%;
    padding: 1% 0;
}

h1 {
    color: rgb(0, 0, 0);
    /*poopy*/
}